<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.figurium.product.dao.CartsMapper">

    <insert id="insertCarts" parameterType="Map">
        insert into carts(id, user_id, product_id, quantity, added_time)
        values(
                null,
                #{ loginUserId },
                #{ productId },
                #{ quantity },
                CURRENT_TIMESTAMP
                )
    </insert>

    <select id="selectList" resultType="carts" parameterType="int">
        select * from product_cart_view where user_id = #{ loginUserId }
    </select>

    <select id="selectCartsById" resultType="carts" parameterType="int">
        select * from carts where product_id = #{ productId }
    </select>

    <delete id="deleteCartProduct" parameterType="int">
        delete from carts where product_id = #{ productId } and
                                user_id = #{ loginUserId }
    </delete>

    <update id="updateCartQuantity" parameterType="carts">
        update carts
            set quantity = #{ quantity }
            where product_id = #{ productId }
            and user_id = #{ userId }
    </update>


</mapper>












