<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.figurium.product.dao.ProductsMapper">

    <select id="selectOneGetName" resultType="products" parameterType="int">
        select * from products where id = #{ productId }
    </select>

    <select id="selectOneCheckProduct" resultType="products" parameterType="int">
        select * from products where id = #{ productId } and
                                     quantity >= #{ itemQuantity }
    </select>

    <update id="updateProductQuantity" parameterType="int">
        update products
        set quantity = quantity - #{ itemQuantity }
            where id = #{ productId }
    </update>




    <insert id="productInsert" parameterType="products">
        INSERT INTO products (category_name, name, price, quantity, image_url)
        VALUES (#{categoryName}, #{name}, #{price}, #{quantity}, #{imageUrl})
    </insert>

    <update id="productUpdate" parameterType="products">
        UPDATE products
        SET category_name = #{categoryName},
            name = #{name},
            price = #{price},
            quantity = #{quantity},
            image_url = #{imageUrl}
        WHERE id = #{id}
    </update>



</mapper>












