<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.githrd.figurium.qa.dao.QaMapper">
    <select id="selectAll" resultType="com.githrd.figurium.qa.vo.QaVo">
        SELECT * FROM qa
        ORDER BY created DESC
    </select>

    <!--SELECT@rownum := @rownum + 1 AS no, qa.*FROM qa, (SELECT @rownum := 0) AS r ORDER BY id-->

    <select id="selectById" parameterType="int" resultType="com.githrd.figurium.qa.vo.QaVo">
        SELECT *
        FROM (
        SELECT q.*, u.name
        FROM qa q
        LEFT JOIN users u ON q.user_id = u.id
        ) q
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.githrd.figurium.qa.vo.QaVo">
        INSERT INTO qa (user_id, title, content, reply)
        VALUES (#{userId}, #{title}, #{content}, #{reply})
    </insert>

    <insert id="product_insert" parameterType="com.githrd.figurium.qa.vo.QaVo">
        INSERT INTO qa (user_id, product_id,title, content, reply)
        VALUES (#{userId}, #{productQaId},#{title}, #{content}, #{reply})
    </insert>


    <update id="update" parameterType="com.githrd.figurium.qa.vo.QaVo">
        UPDATE qa
        SET title = #{title},
        content = #{content},
        reply = #{reply},
        updated = #{updated},
        replyStatus = #{replyStatus}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM qa WHERE id = #{id}
    </delete>

    <update id="deleteReply" parameterType="int">
        UPDATE qa
        SET reply = NULL, replyStatus = '답변준비중'
        WHERE id = #{id}
    </update>

    <!-- 페이징 처리된 게시글 조회 -->
    <select id="selectAllWithPagination" parameterType="map" resultType="QaVo">
        select q.*, u.name
        from (select rank() over(order by id desc) as no,
        i.*
        from
        (select * from qa) i) q
        left join users u on q.user_id = u.id
        where no between #{ start }
        and #{ end }
    </select>

    <!-- 페이징 처리된 게시글 조회 -->
    <select id="selectProductAllWithPagination" parameterType="map" resultType="QaVo">
        select q.*, u.name
        from (select rank() over(order by id desc) as no,
        i.*
        from
        (select * from qa where product_id=#{productId}) i) q
        left join users u on q.user_id = u.id
        where no between #{ start }
        and #{ end }
    </select>

    <!-- selectRowTotal 쿼리 정의 -->
    <select id="selectRowTotal" resultType="int">
        SELECT COUNT(*)
        FROM qa
    </select>


    <!--  admin Qa 미답변 List  -->
    <select id="replyQaList" resultType="com.githrd.figurium.qa.vo.QaVo">
        select q.*, u.name
        from (select rank() over(order by id desc) as no,
        i.*
        from
        (select * from qa) i) q
        left join users u on q.user_id = u.id
        where replyStatus = '답변준비중'
        ORDER BY id DESC
    </select>

    <select id="getQaCount" resultType="int">
        SELECT COUNT(*)
        FROM qa
        where replyStatus = '답변준비중'
    </select>

    <!-- Product QA Count 조회 -->
    <select id="getProductQaCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM qa
        WHERE product_id = #{productId} <!-- 컬럼명을 실제 데이터베이스에 맞게 수정 -->
    </select>
</mapper>
