

.categories_main_box{
    margin: auto;
    width: 1200px;
}

.sort_box {
    justify-content: space-between;
    align-items: center;  /* 수직 중앙 정렬 */
    margin-bottom: 30px;
    margin-top: 50px;
}


.select_filter {
    padding: 5px;       /* 선택 박스의 패딩 */
    border-radius: 5px; /* 선택 박스의 둥근 모서리 */
}

/* 필터 박스 스타일 */
.filter_box {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin: 20px; /* 여백 추가 */
}

/* 선택 컨테이너 스타일 */
.select_container {
    position: relative;
    display: inline-block;
}

/* 드롭다운 스타일 */
.select_filter {
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.select_filter:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(38, 143, 255, 0.2);
}

.select_filter option {
    padding: 10px;
}
