
.review-form-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
}

.review-title {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

.review-form .form-group {
    margin-bottom: 20px;
}

.review-form .form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #555;
}

.review-form input[type="text"],
.review-form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
}

.review-form input[type="text"]:focus,
.review-form textarea:focus {
    border-color: #007bff;
    outline: none;
}

.review-form textarea {
    resize: none;
    height: 200px;
}
.rating_box {
    display: inline-flex;
    align-items: center;
    margin-left: 10px; /* label과 rating 간의 간격 조정 */
}

.label_box {
    display: inline-block;
    vertical-align: middle; /* label과 rating을 수평으로 정렬 */
}

.rating input{
    display: none;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 24px;
    margin: 0 0 0 10px; /* label과 rating 사이의 간격 */
}

.star_box{
    display: inline-block;
}

.rating label {
    color: #ddd;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    margin: 0 2px; /* 별들 간의 간격 조정 */
}

/* 체크된 별과 그 왼쪽 별들에 색상 적용 */
.rating input:checked ~ label {
    color: #ff3d3d;
}

/* 마우스 오버 시 색상 적용 */
.rating label:hover,
.rating label:hover ~ label {
    color: #ff3d3d;
}




.review-form input[type="file"] {
    margin-top: 10px;
}

.image-preview {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 2px dashed #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.image-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.insert_btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.insert_btn:hover {
    background-color: #0056b3;
}

